.bookmark {
  border: 1px solid var(--black);
  padding: 0.5rem;
  border-radius: 50%;
  background: var(--white);
  color: var(--secondary);
  transition: 0.5s ease;
}

.bookmark:hover {
  cursor: pointer;
}

.bookmark--active {
  border: none;
  border-radius: 50%;
  background: var(--secondary);
  color: var(--white);
}

.bookmark__icon {
  fill: currentcolor;
}
